/* src/index.css */
@import "tailwindcss";
html, body {
  overflow: hidden;
}

#root {
  transform: translate(-110px, -30px);
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1f2937; 
  color: white;
}
button {
  cursor: pointer;
}

.Toastify__toast-container {
  width: auto;
  max-width: 380px;
  padding: 0 1rem;
  z-index: 9999;
}
.Toastify__toast {
  background: rgba(30, 41, 59, 0.85); 
  color: #f1f5f9; 
  border-radius: 1rem; 
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); 
  font-weight: 500;
  font-size: 0.95rem;
  border-left: 4px solid #2563eb; 
  backdrop-filter: blur(10px); 
}

/* Toast types */
.Toastify__toast--success { border-left-color: #22c55e; }
.Toastify__toast--error { border-left-color: #ef4444; }   
.Toastify__toast--info { border-left-color: #0ea5e9; }     
.Toastify__toast--warning { border-left-color: #facc15; }   


.Toastify__progress-bar {
  background: #2563eb; 
  height: 4px;
  border-radius: 0 0 1rem 1rem;
}
